package views

import (
	"github.com/SamuelAboelkhir/new_portfolio/components"
)

templ Home() {
<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <title>Portfolio</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
        <script src="/public/htmx.min.js" defer></script>
        <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="/public/styles.css"/>
    </head>
    <body class="min-h-screen bg-blue-950 text-stone-200">
        <main class="mx-auto max-w-3xl px-6 py-20">
            <h1 class="text-5xl mb-5">Personal Information</h1>
            <div class="text-stone-500 mb-10">
            <p>Name: Samuel Ashraf Makram</p>
            <p>Phone number: redacted</p>
            <p>Current location: Alexandria, Egypt</p>
            </div>
            <h1 class="text-5xl mb-5">Languages I use</h1>
            <span class="text-stone-500">
            Go - TS - Python - C - R
            </span>
            <h1 class="text-5xl mt-10">My projects</h1>
            <a target="_blank" href="https://github.com/SamuelAboelkhir/CompGoR">CompGoR</a>

<button
    hx-get="/greeting"
    hx-target="#result">
    Get greeting
</button>

<div id="result"></div>

            <div id="greeting" class="mt-10">
                @components.GreetingPanel()
            </div>
        </main>
    </body>
</html>
}
